@import "tailwindcss";
@plugin '../hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

.text-default-foreground,
.text-primary-foreground {
    color: white;
}
.bg-default,
.bg-primary {
  background-color: black;
}

.rounded-small,
.rounded-medium,
.rounded-large {
  border-radius: 0;
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
